.container {
  display: flex;
}

.title {
  font-size: 2.5rem;
  background: linear-gradient(to bottom, #194c33, #bbb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  display: flex;
  flex-direction: column;
}

.item ~ .item {
  margin-left: 10px;

}

.img {
  object-fit: cover;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px) scale(1.03);
  }
}